@import "../../styles/utils/variables";

.card {
  padding: 32px;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 12px 48px 0px;
  margin-bottom: 16px;

  &:first-of-type {
    margin-bottom: 48px;
  }
}

.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: 600;
    color: $orange;
  }
}

.membersWrapper {
  display: flex;
  flex-direction: column;

  .indexWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: $orange;
    color: $white;
    padding: 2px;
    font-weight: 600;
  }

  img {
    object-fit: contain;
  }

  .member {
    display: flex;
    align-items: center;
    gap: 16px;

    .name {
      font-weight: 600;
      color: $main-blue;
    }
  }
}

.buttonWrapper {
  margin: auto;
  font-weight: 600;
  font-size: 20px;
  max-width: 400px;
  width: 100%;
}
