@import "../../styles/utils/variables";

.member {
  display: flex;
  align-items: center;
  gap: 16px;

  button {
    height: 30px;
    padding: 5px 10px;
  }

  input {
    width: 80px;
  }

  .name {
    color: $main-blue;
    font-weight: 600;
  }
}

.memberWrapper {
  display: flex;
  justify-content: space-between;
}

.message {
  color: $orange;
  font-weight: 600;
}
